.home-view {
    .carousel-container {
        margin: 40px;

        .carousel-item {
            height: 20%;

            img {
                height: 500px;
            }
        }
    }

    .place-order-container {
        display: flex;
        justify-content: center;

        .order-button {
            background: #a3eda3;
            text-decoration: none;
            display: block;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            color: #000;
            border: 2px solid;
            border-radius: 5px;

            &:hover {
                font-style: italic;
                color: #fff;
                border: 2px solid #000;
            }
        }
    }

    .footer-container {
        margin: 20px 0px;
        padding: 5px 20px;
        background: #faf6f6;

        .info-details {
            display: flex;
            flex-direction: column;
            margin: 10px 0px;
            font-size: 16px;

            a {
                text-decoration: none;
                color: #000;
            }
        }

        .label {
            font-weight: bold;
            font-size: 18px;
        }

        .misson-details {
            margin: 10px 0px;

            .description {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}