.signup-view {

    *,
    :after,
    :before {
        box-sizing: border-box
    }

    .clearfix:after,
    .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    a {
        color: inherit;
        text-decoration: none
    }

    .signup-wrap {
        width: 100%;
        margin: auto;
        max-width: 525px;
        min-height: 670px;
        position: relative;
        background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    }

    .signup-html {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 90px 40px 50px 40px;
        background: rgba(40, 57, 101, .9);
    }

    .signup-html .tab,
    .signup-form .group .label,
    .signup-form .group .button {
        font-weight: bold;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }

    .signup-html .tab {
        font-size: 22px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .signup-html .sign-up {
        color: #fff;
        border-color: #1161ee;
    }

    .signup-form {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .signup-form .group {
        margin-bottom: 5px;
    }

    .signup-form .group .label,
    .signup-form .group .input,
    .signup-form .group .button {
        width: 100%;
        color: #000;
        display: block;
    }

    .signup-form .group .input,
    .signup-form .group .button {
        border: none;
        padding: 15px 20px;
        border-radius: 25px;
        /* background: rgba(255, 255, 255, .1); */
    }

    .signup-form .group input[data-type="password"] {
        text-security: circle;
        -webkit-text-security: circle;
    }

    .signup-form .group .label {
        /* color: #aaa;
        font-size: 12px; */
        color: #fff;
    }

    .signup-form .group .button {
        cursor: pointer;
        background: #1161ee;
        /* margin-top: 30px; */
        &:hover {
            background: #598de6;
            color: #000;
        }
    }

    .signup-form .group label .icon {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        position: relative;
        display: inline-block;
        background: rgba(255, 255, 255, .1);
    }

    .signup-form .group label .icon:before,
    .signup-form .group label .icon:after {
        content: '';
        width: 10px;
        height: 2px;
        background: #fff;
        position: absolute;
        transition: all .2s ease-in-out 0s;
    }

    .signup-form .group label .icon:before {
        left: 3px;
        width: 5px;
        bottom: 6px;
        transform: scale(0) rotate(0);
    }

    .signup-form .group label .icon:after {
        top: 6px;
        right: 0;
        transform: scale(0) rotate(0);
    }

    .signup-form .group .check:checked+label {
        color: #fff;
    }

    .signup-form .group .check:checked+label .icon {
        background: #1161ee;
    }

    .signup-form .group .check:checked+label .icon:before {
        transform: scale(1) rotate(45deg);
    }

    .signup-form .group .check:checked+label .icon:after {
        transform: scale(1) rotate(-45deg);
    }

    .footer {
        color: #fff;
        text-align: center;
        .click-link {
            margin-left: 5px;
        }
    }
}