.registration-view {

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;

    .clearfix:after,
    .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    .registration-wrap {
        width: 100%;
        margin: auto;
        max-width: 800px;
        min-height: 670px;
        position: relative;
        background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    }

    .registration-html {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 50px 70px;
        background: rgba(40, 57, 101, .9);
    }

    .registration-html .tab,
    .registration-form .group .label,
    .registration-form .group .button {
        font-weight: bold;
    }

    .registration-html .tab {
        font-size: 22px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .registration-form {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .registration-form .group {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .registration-form .footer {
        justify-content: end;
    }

    .registration-form .group .label,
    .registration-form .group .input,
    .registration-form .group .button {
        width: 100%;
        color: #fff;
        display: block;
    }

    .registration-form .group .input,
    .registration-form .group .button {
        border: none;
        padding: 15px 20px;
        border-radius: 25px;
        background: #fff;
        color: #000;
    }

    .registration-form .group input[data-type="password"] {
        text-security: circle;
        -webkit-text-security: circle;
    }

    .registration-form .group .label {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        width: 200px;
        text-align: right;
        margin-right: 20px;
    }

    .registration-form .group .button {
        cursor: pointer;
        background: #1161ee;
        width: 160px;
        color: #fff;

        &:hover {
            background: #598de6;
            color: #000;
        }
    }

    .registration-form .group .reset {
        cursor: pointer;
        background: #6d99e6;
        width: 160px;
        color: #fff;
        margin-right: 10px;

        &:hover {
            background: #598de6;
            color: #000;
        }
    }

    .registration-form .group label .icon {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        position: relative;
        display: inline-block;
        background: rgba(255, 255, 255, .1);
    }

    .registration-form .group label .icon:before,
    .registration-form .group label .icon:after {
        content: '';
        width: 10px;
        height: 2px;
        background: #fff;
        position: absolute;
        transition: all .2s ease-in-out 0s;
    }

    .registration-form .group label .icon:before {
        left: 3px;
        width: 5px;
        bottom: 6px;
        transform: scale(0) rotate(0);
    }

    .registration-form .group label .icon:after {
        top: 6px;
        right: 0;
        transform: scale(0) rotate(0);
    }

    .back-button-container {
        margin-left: 10px;
    }
    .back-link {
        display: flex;
        justify-content: end;
        margin-right: 15px;
    }
}