.ADashboard-view {
    .table {
        list-style: none;
    }
    .table-row {
        display: flex;
        list-style: none;
        flex-direction: row;
        width: 100%;
        li {
            width: 20%;
        }
    }
}